@import "./../../node_modules/bootstrap/scss/bootstrap.scss";
@import './variables.scss'; 

body {
  background-color: $body-color;
  font-size: $font-size-sm;
}

.custom-page-content {
  background-color: $custom-page-content-bg;
}

.page-content {
  border-radius: 8px;
}

.navbar.navbar-light {
  background-color: #ef5350;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.navbar-nav {
  .nav-item {
    color: white;
    &.active {
      background: #edf2f9;
      border-radius: 30px 0px 0px 30px;
      a.text-white.nav-link {
        color: black !important;
      }
    }
  }
}

table.table {
  tbody {
    td.table-wrap {
      div {
        width: inherit;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .page-content {
    margin-left: 250px;
  }
}
