.product-name, .product-price, .cart-detail-container {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .5rem !important;
}

.order-container {
  margin-top: 16px;
  .order-item {
    .order-item-media {
      img {
        width: 250px;
      }
    }
    .order-item-content {
      padding: 0px 24px;
      width: 100%;
      .order-description {
        padding-bottom: 12px;
      }
    }
  }
}